<div class="container mt-5 mb-5">
  <div class=”row”>
    <h1 class="my-3 fs-2">商品編集</h1>
    <%= render partial: "form", locals: { product: @product, url_path: "/admin/products/#{@product.id}" } %>
  </div>
</div>
